---
import Layout from "../layouts/Layout.astro";
import EducationSection from "../sections/EducationSection.astro";
import WorkExperienceSection from "../sections/WorkExperienceSection.astro";
import SkillsSection from "../sections/SkillsSection.astro";
import CoursesSection from "../sections/CoursesSection.astro";
import AboutMeSection from "../sections/AboutMeSection.astro";
---

<Layout title="Welcome to My WEB">
  <main>
    <AboutMeSection />
    <EducationSection />
    <WorkExperienceSection />
    <SkillsSection />
    <CoursesSection />
  </main>
</Layout>

<style>
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  html{
    font-family: Poppins;
  }
</style>
