---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to My WEB">
	<main>
		<h1>Welcome to Guillermo Hedzko WEB</h1>

	</main>
</Layout>

<style>
h1{
	font-size: 10px;
}
</style>
