<header class="rn-header haeder-default black-logo-version header--fixed header--sticky">
<nav>
    <ul class="flex gap-1">
        <li>Section 1</li>
        <li>Section 2</li>
        <li>Section 3</li>
    </ul>
</nav>
</header>
