---
import Link from "./Link.astro";
---

<header class="bg-blur flex justify-between p-4 sticky top-0">
  <div>
    <h2 class="text-2xl">Guillermo Hedzko</h2>
  </div>
  <nav>
    <ul class="flex gap-4">
      <li><Link title="About Me" href="#about" /></li>
      <li><Link title="Education" href="#education" /></li>
      <li><Link title="Work Experience" href="#work-experience" /></li>
      <li><Link title="Skills" href="#skills" /></li>
      <li><Link title="Courses" href="#courses" /></li>
    </ul>
  </nav>
</header>

<style is:global>
  .bg-blur {
    background-color: rgba(72, 76, 121, 0.24);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
</style>
