---
// Aquí puedes importar estilos o componentes si es necesario
---

<section id="about" class="flex flex-col h-auto m-4">
  <h2 class="text-3xl mb-6">About Me</h2>
  
  <p>Fueled by an enduring passion for technology, I've dedicated the past six years to mastering software development.</p>
  <p>My journey began as a self-taught developer and evolved into professional roles including freelancing and serving as a Web & Mobile Developer at MOREAN.</p>
  
  <h3 class="text-2xl mt-4 mb-4">Objectives</h3>
  <p>My focus is on full-stack development, particularly with React and Node.js. I'm eager to contribute to projects that push the boundaries of what's possible in these technologies.</p>
  
  <h3 class="text-2xl mt-4 mb-4">Hobbies & Interests</h3>
  <p>I am passionate about music and enjoy playing the electric guitar in my free time. My main influences are Jason Becker, Yngwie Malmsteen, and Marty Friedman. I also love sea fishing and spending time outdoors.</p>
  
  <h3 class="text-2xl mt-4 mb-4">Soft Skills</h3>
  <ul>
    <li>Teamwork</li>
    <li>Leadership</li>
    <li>Experience leading teams</li>
  </ul>
  
  <h3 class="text-2xl mt-4 mb-4">Achievements</h3>
  <p>Published an investment app with over 10,000 users as of February this year.</p>
  
  <h3 class="text-2xl mt-4 mb-4">Volunteering & Community Work</h3>
  <p>Active member of my community; have collaborated with the Epuyén Volunteer Firefighters and currently participate in fundraising activities.</p>
  
  <a href="#contact" class="btn btn-primary mt-4">Contact Me</a>
</section>
