---
// Aquí puedes importar estilos o componentes si es necesario
---

<section id="about" class="flex flex-col h-auto m-4">
  <h2 class="text-3xl mb-6">About Me</h2>
  
  <p>I'm not just another software developer; I'm a person with a story, a family, and a drive that keeps me going. The tech world knows me as a Web & Mobile Developer at MOREAN, but my journey is so much more than that.</p>

  <!-- Personal Life -->
  <h3 class="text-2xl mt-4 mb-4">Who's Behind the Screen</h3>
  <p>At 43, I feel more vibrant than ever. My lovely wife, Daiana Sánchez, who's 40, and our incredible twins, Luciano and Nicolás, are the support system that fuels my passion. We're an inseparable team.</p>

  <!-- Career Path -->
  <h3 class="text-2xl mt-4 mb-4">My Road to Tech</h3>
  <p>I got my start in a corporate IT department in my early twenties. Life was busy, juggling a full-time job and not having enough time or resources for formal education. But that didn't stop me. I committed myself to learning, and over time became a key IT resource.</p>

  <!-- Academic Life -->
  <h3 class="text-2xl mt-4 mb-4">The Educator in Me</h3>
  <p>For nearly a decade and a half, I've poured my knowledge into the minds of students across various public institutions. From computer repair to AutoCAD, I've taught it all. The experience has not just been fulfilling; it's been a two-way street of learning.</p>

  <!-- Objectives -->
  <h3 class="text-2xl mt-4 mb-4">Where I'm Headed</h3>
  <p>My eyes are now set on mastering full-stack development, particularly with React and Node.js. I'm not just interested in coding; I'm keen on contributing to projects that redefine what's possible.</p>

  <!-- Hobbies & Interests -->
  <h3 class="text-2xl mt-4 mb-4">When I Unplug</h3>
  <p>Outside of code, you'll find me jamming on my electric guitar, influenced by greats like Jason Becker and Yngwie Malmsteen, or out at sea, fishing and soaking up nature.</p>

  <!-- Soft Skills -->
  <h3 class="text-2xl mt-4 mb-4">More Than Just a Techie</h3>
  <ul>
    <li>Teamwork</li>
    <li>Leadership</li>
    <li>And yes, I've led teams</li>
  </ul>

  <!-- Achievements -->
  <h3 class="text-2xl mt-4 mb-4">Milestones</h3>
  <p>One of my proudest moments? Publishing an investment app that's hit over 10,000 users this year.</p>
  
  <!-- Volunteering & Community Work -->
  <h3 class="text-2xl mt-4 mb-4">Giving Back</h3>
  <p>I'm an active member of my community and have put in time with the Epuyén Volunteer Firefighters. Fundraising and community activities? Count me in!</p>
  
  <a href="#contact" class="btn btn-primary mt-4">Reach Out, Let's Connect</a>
</section>

