---
// Aquí puedes importar estilos o componentes si es necesario
---

<section id="about" class="flex flex-col h-auto  m-4">
  <h2 class="text-3xl mb-6">About Me</h2>
  <p>
    My vocation for technology and its advancements has led me to experience it from different perspectives.
    I worked with server’s administration, networks, and nowadays I work as a trainer in several institutions.
    For the last six years I’ve been expanding my skills as a developer, in a self-taught way, and also working as a freelancer.
  </p>
  <h3 class="text-2xl mt-4 mb-4">Objectives</h3>
  <p>
    Information technology in all its aspects is part of my preferences. I aspire to continue developing and improving my programming skills. I’m eager to obtain a challenging position in a prestigious company,
    which will expand my learning
    and build up my developing
    skills.
  </p>
  <h3 class="text-2xl mt-4 mb-4">Hobbies & Interests</h3>
  <p>
    I am passionate about music and enjoy playing the electric guitar in my free time. My main influences are Jason Becker, Yngwie Malmsteen, and Marty Friedman. In addition, I love sea fishing and spending time outdoors.
  </p>
  <h3 class="text-2xl mt-4 mb-4">Soft Skills</h3>
  <ul>
    <li>Teamwork</li>
    <li>Leadership</li>
    <li>Experience leading teams</li>
  </ul>
  <h3 class="text-2xl mt-4 mb-4">Achievements</h3>
  <p>
    In February of this year, I published an investment app on the App Store and Google Play Store. To date, the app has over 10,000 users and continues to grow.
  </p>
  <h3 class="text-2xl mt-4 mb-4">Volunteering & Community Work</h3>
  <p>
    I am an active member of my community and have collaborated with the Epuyén Volunteer Firefighters. I have worked on the management team and currently participate in fundraising activities to support the organization.
  </p>
</section>