---
// Aquí puedes importar estilos o componentes si es necesario
---

<section id="education" class="flex flex-col h-auto bg-gray-100 m-4">
  <h2 class="text-xl font-bold mb-4">Education Background</h2>
  <ul class="list-disc list-inside">
    <li>2010 - 2012: Technical Teacher in concurrence with the degree of Basic (Electronic Technician) from Profesorado de Educación Técnica Profesional -ISFD 813 - Lago Puelo</li>
    <li>2000 - 2006: 14 courses approved (Incomplete) from Unidad Abierta Interamericana as a Systems Engineer</li>
    <li>1998 - 2000: 8 courses approved (Incomplete) from UTN as an Electronic Engineer</li>
    <li>1996 - 1998: Electronic Technician from Escuela de Educación Técnica N°28 D.E. 10 "República Francesa"</li>
    <li>1993 - 1995: Telecommunications Electronics Expert from Escuela de Educación Técnica "Werner von Siemens"</li>
  </ul>
</section>