---
// Aquí puedes importar estilos o componentes si es necesario
---

<section id="skills" class="flex flex-col h-auto  m-4">
  <h2 class="text-xl font-bold mb-4">Skills</h2>
  <!-- Agrega el contenido de la sección de skills aquí -->
</section>